<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88921679213-rc9r42th337so1knsl8gp5ikilb65mfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88921679213-rc9r42th337so1knsl8gp5ikilb65mfg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>88921679213-91e2k0lg7dk2sj2dnpg6k41jn7733g7u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ_ty-NVYdEDZiNZN5tZLsMyt1qTuX6PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>88921679213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eBook</string>
	<key>PROJECT_ID</key>
	<string>ebook-e542a</string>
	<key>STORAGE_BUCKET</key>
	<string>ebook-e542a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88921679213:ios:1879a0823715cf3d246664</string>
</dict>
</plist>